body {
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    padding-top: 0px;
    text-align: center;
}

main {
    margin: 5px;
    border-style: solid;
}

header {
    margin: 5px;
    border-style: solid;
}

footer {
    border-style: solid;
}

#logo-name {
    text-align: left;
}

#menu {
    display: block;
    font-size: 2rem;
    padding: 10px;
}

#menu::before {
    content: "☰";
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li a:hover {
    color: blue;
    text-decoration: overline;
}

#image-logo {
    width: 40px;
    height: 40px;
}

.navigation li {
    display: none;
}

#menu.show::before {
    content: "X";
}

.show li {
    display: block;
}

button {
    margin: 5px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



@media screen and (min-width:480px) {


    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row-reverse;


    }

    .navigation li {
        display: block;
        margin: 8px;
    }

    #logo-name {
        margin: 10px;
    }

    nav {
        margin: 10px;
    }

    .main {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    #home-head {
        grid-column: 1/4;
        margin: 5px;
    }


    #buttons button {
        margin: 10px;
        padding: 10px;
        border: solid;
    }

    #buttons button:hover {
        background-color: #333;
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }



    footer {
        text-align: center;
        margin: 5px;

    }

    footer {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}