@media screen and (min-width:641px) {

    #lastDate {
        display: block;
        text-align: center;
        font-size: larger;
    }

    #cards {
        display: grid;
        grid-template-columns: auto auto;
    }

    #menu {
        display: none;
    }

    #navigation li {
        display: block;
        margin: 10px;
    }

    ul {
        display: flex;
        flex-direction: row-reverse;
    }

    img:hover {
        box-shadow: 0 0 50px #333;
    }
}