@media screen and (min-width:680px) {

    html,
    body {

        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;

    }


    header {
        grid-row: 1;
    }


    ul {
        display: flex;
        flex-direction: row-reverse;
    }

    #menu {
        display: none;
    }

    #navigation li {
        display: block;
        margin: 10px;
    }

    main {
        border: solid;
        display: grid;
        grid-template-columns: auto auto;

    }

    h1 {
        grid-column: 1/3;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row: 3;
        border: solid;
    }

    #cards {
        display: block;
        border: solid;
        padding: 5px;
        margin: 5px;
    }

    #sign-up-form {
        border: solid;
        padding: 5px;
        margin: 5px;
    }

    input,
    select,
    label,
    textarea {
        margin: 10px;
        text-align: center;
    }

    #sign-on {
        grid-column: 2;
        width: fit-content;
    }

    button {
        margin: 10px;
    }

    form {
        display: grid;
        grid-template-columns: auto auto auto;

    }

    #contain {
        display: grid;
    }

    .member-cards {
        margin: 10px;
        border: solid;
    }


}