html,
body {
    min-height: 100vh;
    margin: 0;
}

header {
    border: solid;
}

ul {
    list-style-type: none;
}

ul li a {
    font-size: larger;
}


#menu::before {

    content: "☰";
}

li {
    display: none;

}

.show {
    text-align: center;
}

.show li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: block;
}


#menu.show::before {
    content: "X";
}

#menu {
    font-size: xx-large;
}


main {
    text-align: center;
    border: solid;
    padding: 10px;
}

label {
    margin: 10px;
    margin-top: 1px;
    margin-bottom: 1px;

}

input {
    margin: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

select {
    margin: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

textarea {
    margin: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

form {
    display: grid;
    text-align: left;
    margin: 10px;
}

footer {
    text-align: center;
    border: solid;
    padding: 10px;
}


#logo-name {
    margin: 10px;
}

nav {
    text-align: center;

}

nav ul {
    padding: 5px;
}

nav a:hover {
    color: darkblue;
    text-decoration: overline;
    background-color: aqua;
}

.member-cards {

    margin: 10px;
    border: solid black;
}

#np-in {
    animation: fadecolorNP 3s ease 60ms infinite alternate;
}

#br-in {
    animation: fadecolorBR 3s ease 50ms infinite alternate;
}

#si-in {
    animation: fadecolorSI 3s ease 40ms infinite alternate;
}

#go-in {
    animation: fadecolorGO 3s ease 30ms infinite alternate;
}


@keyframes fadecolorNP {
    from {
        background-color: blue;
    }

    to {
        background-color: green;
    }

}

@keyframes fadecolorBR {
    from {
        background-color: green;
    }

    to {
        background-color: brown;
    }

}

@keyframes fadecolorSI {
    from {
        background-color: brown;
    }

    to {
        background-color: silver;
    }

}

@keyframes fadecolorGO {
    from {
        background-color: silver;
    }

    to {
        background-color: gold;
    }

}

dialog {
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}