html,
body {
    min-height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
}

#menu::before {

    content: "☰";
}

li {
    display: none;

}

.show {
    text-align: center;
}

.show li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: block;
}


#menu.show::before {
    content: "X";
}

#menu {
    font-size: xx-large;
}


main {
    text-align: center;
}

footer {
    text-align: center;
}


#logo-name {
    margin: 10px;
}

nav {
    text-align: center;

}

nav ul {
    padding: 5px;
}

nav a:hover {
    color: darkblue;
    text-decoration: overline;
    background-color: aqua;
}

#cards {
    margin: 10px;
}