@media screen and (min-width:480px) {

    html,
    body {

        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;

    }


    header {
        grid-row: 1;
        border: solid;
    }


    ul {
        display: flex;
        flex-direction: row-reverse;
    }

    #menu {
        display: none;
    }

    #navigation li {
        display: block;
        margin: 10px;
    }


    main {
        text-align: center;
        grid-row: 2;
        border: solid;

    }

    #contain {
        display: grid;
        grid-template-columns: auto auto;
        margin: 10px;
        display: grid;
        grid-template-columns: auto auto;
        grid-row: auto;

    }

    #weather {
        margin: 10px;
        padding: 5px;
        border: solid;
    }

    #forcast {
        margin: 10px;
        padding: 5px;
        border: solid;
    }

    #events {
        margin: 10px;
        border: solid;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row: 3;
        border: solid;
    }

    #cards {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row: 2;
        grid-column: 1/3;
    }

    .comp-card {
        border: solid;
        margin: 10px;
    }

    #hero {
        width: 100%;
        max-width: 1000px;
        min-width: 500px;
        height: auto;
    }

}