@media screen and (min-width:680px) {

    html,
    body {

        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;

    }


    header {
        grid-row: 1;
    }


    ul {
        display: flex;
        flex-direction: row-reverse;
    }

    #menu {
        display: none;
    }

    #navigation li {
        display: block;
        margin: 10px;
    }

    main {
        border: solid;
        display: grid;
        grid-template-columns: auto auto;

    }

    h1 {
        grid-column: 1/3;
    }

    footer {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row: 3;
        border: solid;
    }

    #cards {
        display: block;
        border: solid;
        padding: 5px;
        margin: 5px;
    }

    #sign-up-form {
        border: solid;
        padding: 5px;
        margin: 5px;
    }

    input,
    select,
    label,
    textarea {
        margin: 10px;
        text-align: center;
    }

    #sign-on {
        grid-column: 2;
        width: fit-content;
    }

    button {
        margin: 10px;
    }

    form {
        display: grid;
        grid-template-columns: auto auto auto;

    }

    #contain {
        display: grid;
    }

    .member-cards {
        color: white;
        margin: 10px;
        border: solid black;
    }

    #np-in {
        animation: fadecolorNP 3s ease 60ms infinite alternate;
    }

    #br-in {
        animation: fadecolorBR 3s ease 50ms infinite alternate;
    }

    #si-in {
        animation: fadecolorSI 3s ease 40ms infinite alternate;
    }

    #go-in {
        animation: fadecolorGO 3s ease 30ms infinite alternate;
    }


    @keyframes fadecolorNP {
        from {
            background-color: blue;
        }

        to {
            background-color: green;
        }

    }

    @keyframes fadecolorBR {
        from {
            background-color: green;
        }

        to {
            background-color: brown;
        }

    }

    @keyframes fadecolorSI {
        from {
            background-color: brown;
        }

        to {
            background-color: silver;
        }

    }

    @keyframes fadecolorGO {
        from {
            background-color: silver;
        }

        to {
            background-color: gold;
        }

    }

    dialog {
        width: 400px;
        height: 300px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
        padding: 20px;
    }

    ::backdrop {
        background-color: rgb(0 0 0 / 50%);
    }


}