html,
body {
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #528484;
    text-align: center;
    border: solid;
}

ul {
    list-style-type: none;
}

ul li a {
    font-size: larger;
}

main {
    background-color: beige;
    text-align: center;
}

img {
    border: solid;
}

footer {
    background-color: #528484;
    border: solid;
}

nav {
    text-align: center;

}

nav ul {
    padding: 5px;
}

nav a:hover {
    color: darkblue;
    text-decoration: overline;
    background-color: aqua;
}

#menu::before {

    content: "☰";

}

li {
    display: none;
}

#menu.show::before {
    content: "X";
}

.show {
    text-align: center;
}

.show li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: block;
}



#menu {
    font-size: xx-large;
}

fieldset {
    margin: 10px;
}

fieldset label {
    margin: 5px;
}

fieldset input {
    margin: 5px;
}