@media screen and (min-width:680px) {

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #menu {
        display: none;
    }

    #navigation li {
        display: block;
        margin: 10px;
    }

    #contain {
        display: grid;
        grid-template-columns: auto auto;
    }

    #displayCartScreen {
        margin: 5px;
        padding: 5px;
        border: solid;
        text-align: left;
    }


}