@media screen and (min-width:680px) {

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #menu {
        display: none;
    }

    #navigation li {
        display: block;
        margin: 10px;
    }

    



}