@media screen and (min-width:641px) {
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #menu {
        display: none;
    }

    #navigation li {
        display: block;
        margin: 10px;
    }

    #cards {
        display: grid;
        grid-template-columns: auto auto;
    }
}