header {
    background-color: #528484;
    text-align: center;
    border: solid;
}

main {
    background-color: beige;
    text-align: center;
}

img {
    border: solid;
}

footer {
    background-color: #528484;
    border: solid;
}