html,
body {
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #528484;
    text-align: center;
    border: solid;
}

ul {
    list-style-type: none;
}

ul li a {
    font-size: larger;
}

main {
    background-color: beige;
    text-align: center;

}



footer {
    padding: 5px;
    background-color: #528484;
    border: solid;
}

nav {
    text-align: center;

}

nav ul {
    padding: 5px;
}

nav a:hover {
    color: darkblue;
    text-decoration: overline;
    background-color: aqua;
}

#menu::before {

    content: "☰";

}

li {
    display: none;
}

#menu.show::before {
    content: "X";
}

.show {
    text-align: center;
}

.show li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: block;
}

#cards {
    margin: 10px;
}

.comp-cards {
    margin: 10px;
    border: solid;
    display: grid;
    grid-template-areas:
        "name"
        "image"
        "game"
        "faction";

}

.comp-cards h2 {
    grid-area: name;
}

.comp-cards img {
    grid-area: image;

}

.comp-cards p {
    grid-area: game;
}

.comp-cards em {
    grid-area: faction;
}

button {
    margin: 5px;
}

#menu {
    font-size: xx-large;
}