@media screen and (min-width:480px) {


    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
    }

    .navigation li {
        display: block;
    }

    #logo-name {
        margin: 10px;
    }

    nav {
        margin: 10px;
    }

    .main {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }

    #home-head {
        grid-column: 1/4;
        margin: 5px;
    }

    .about-me {
        grid-row: 2;
        grid-column: 1/3;
        justify-self: center;
        margin: 10px;
        padding: 5px;
    }


    .student-photo {
        grid-column: 3;
        grid-row: 2;
        margin: 10px;
        padding: 5px;
        justify-self: center;
    }


    .web-certificate {
        grid-row: 3;
        grid-column: 1/4;
        justify-self: center;
        margin: 10px;
        padding: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;

    }

    #courses {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #courses p {
        margin: 5px;
        padding: 5px;
    }



    #buttons button {
        margin: 10px;
        padding: 10px;
        border: solid;
    }

    #buttons button:hover {
        background-color: #333;
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }



    footer {
        text-align: center;
        margin: 5px;

    }
}